.game {
    height: 200 vh;
    overflow: hidden;
    margin: 0 auto;
}
  
.cell {
    display: flex;
    background-color: rgb(151, 151, 151);
    min-width: 30px;
    min-height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    transition: background-color 0.2s;
}
  
.cell:not(first-child) {
    margin-left: 5px;
}
  
.cell:focus {
    outline: none;
}
  
.cell.hidden {
    background-color: rgb(104, 104, 104);
}
.cell.hidden:hover {
    background-color: rgb(77, 77, 77);
}
  
  /* Flagged incorrectly*/
.cell.is-flag:not(.is-mine):not(.hidden) {
    background-color: rgb(175, 62, 77);
}
  
  /* Flagged correctly */
.cell.is-flag.is-mine:not(.hidden) {
    background-color: #4f8755;
}
  
  /* Clicked on a mine*/
.cell.is-mine.is-clicked {
    background-color: rgb(175, 62, 77);
}
  
  /* Empty revealed cells*/
.cell.is-empty:not(.hidden):not(.is-mine):not(.is-flagged) {
    background-color: rgb(156, 156, 156);
}

.board {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
}
  
.grid {
    margin: 20px 0px;
    display: flex;
    align-self: center;
    flex-direction: column;
}
  
.mines-count {
    padding: 5px 10px;
    margin-top: 20px;
    font-weight: 400;
    color: white;
    border-radius: 5px;
    align-self: center;
    text-align: center;
    justify-content: center;
    background-color: #cec075;
}
  
.row {
    display: flex;
    justify-content: center;
}
  
.row:not(last-child) {
    margin-bottom: 5px;
}
  